<section class="container contact-content">
  <header class="header-contact">
    <h1>Contact us</h1>
  </header> <!-- end header.contact -->

  <div class="row" id="contactrow1">
    <div class="col-12">
      <p>If you have any comments or you would like to make a contribution to this blog page, please send us an email:</p>
      <h5><strong><i class="fas fa-envelope"></i> info@code-chatter.com
      </strong></h5>
      <p>You can also leave us a message below.</p>

      <%= form_with(url:"/simple_pages/thank_you", method: "post", local: true) do |form| %>
      <div class="form-row">
        <div class="col-md-6 form-group">
          <p><%= form.text_field :name, class: "form-control", placeholder: "Enter Name", required: true %></p>
        </div> <!-- end col -->
        <div class="col-md-6 form-group">
          <p><%= form.text_field :email, class: "form-control", placeholder: "Enter Email", required: true, validates: :email %></p>
        </div> <!-- end col -->
        <div class="col-md-12 form-group">
          <p><%= form.text_area :message, class: "form-control", placeholder: "Enter Message", rows: 5, required: true %></p>
        </div> <!-- end col -->
      </div> <!-- end form-row -->
      <p><%= form.submit "Send", class: "form_label" %></p>
      <% end %>
    </div> <!-- end col 2 -->
  </div> <!-- end row1 -->
</section> <!-- end container-contact-->
