<section class="content-show-article">

  <div class="container show-article-main">
    <h3><strong><%= @article.title %></strong></h3>
		<p><%= @article.description %></p>
    <h6><strong>Author: <%= @article.author %></strong></h6>
    <h6><strong><%= @article.date %> ~ <%= @article.readtime %></strong></h6>
    <%= image_tag(@article.image_url, class: "article-show") %>
    <p><%= @article.content.html_safe %></p>
    <hr>
  </div> <!-- end show article main -->

  <%= render 'comments' %>
  <%= will_paginate @comments %>
  <%= render 'new_comment' %>

</section> <!-- end content-show-article -->
