<section class="content-show-article">

  <div class="container show-article-main">
    <h3><strong><%= @article.title %></strong></h3>
		<p><%= @article.description %></p>
    <h6><strong>Author: <%= @article.author %></strong></h6>
    <h6><strong><%= @article.date %> ~ <%= @article.readtime %></strong></h6>
    <%= image_tag(@article.image_url, class: "article-show") %>
    <p><%= @article.content %></p>
  </div> <!-- end show article main -->

	<%= link_to 'Edit', edit_article_path(@article) %>
	<%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %>

</section> <!-- end content-show-article -->
